/* .logoStyle{
    min-width: 90px;
    height: 70px;
    width: 120px;
} */
/* .navbar{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.navbar-show{
    position: fixed !important;
    z-index: 2;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}
.navbar-brand{
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-logo{
    min-width: 90px;
    height: 70px;
    width: 120px;
    display: block;
    background: url('../../../resources/logo/Logo.png');
    background-position: center;
    background-size: cover;
   
} */


.conatiner {
    height: 60px;
}

.wrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.Logo {
    font-size: 14px;
    cursor: pointer;
}

.MeunItem {
    font-size: 14px;
    cursor: pointer;
    display: flex;
}

.MeunItem>ul>li {
    list-style: none;    
    justify-content: flex-end !important;
}
.link {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

.logout {
    border: none;
    background: none;
    margin-left: 10px;
}