.navbar {
    height: 75px;
    display: flex;
   
    align-items: center;
    border-bottom: 0.5px solid whitesmoke;
    font-size: 14px;
    color: gray;

    .wrapper {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        padding: 20px;

        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid whitesmoke;
            cursor: pointer;
            padding: 3px;

            input {
                border-style: none;
                outline: none;
                background: transparent;
            }
        }

        .items {
            display: flex;
            
            
            .item {
                display: flex;
                align-items: center;
                margin-right: 25px;
                position: relative;

                .navIcon {
                    font-size: 22px;
                }

                .avatar {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                }

                .counter{
                    height: 15px;
                    width: 15px;
                    font-size: 10px;
                    font-weight: bold;
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: -2px;
                    right: -4px;
                }
            }
        }
    }
}