.ordersTable {
    height: 650px;
    padding: 20px;

    .tableData {
        text-align: center;
    }

    .linkToNewOrder {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600px;
        color: green;
        border: 1px dotted green;
        padding: 5px;
        cursor: pointer;
    }

    .ordersCompletedTableTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }


    .totalProfit {
        display: flex;
        margin-top: 14px;
 
        text-decoration: none;
        text-decoration-style: none;

        .profit {
            color: green;
            border: 1px dotted lightgreen;
            padding: 2px 6px;  
            margin-bottom: 10px;
        }

    }

    .productDetails {
        display: flex;
        justify-content: center;

        .tableData {
            justify-content: center;
            flex: 12;
        }

        .tableData1 {
            justify-content: space-between;
            flex: 6;
        }
    }

}