.main-grid {
    display: flex;
    justify-content: space-between;

    margin-top: 100px;
}

.grid-style{
    max-width: 75%;
    margin: auto !important;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #4b2627;
}

.productDescription {
    font-size: 18px;
    justify-content: center;
}
