.cart-container {
    margin-top: 100px;
    height: 100%;
    width: 100%;
    padding: 1rem 2rem;
}

.cart-container h1 {
    text-align: center;
}

.cart-container .titles {
    margin: 1rem 1rem;

}


.titles h4 {
    font-size: 16px;
    font-weight: bold;
}

.cart-item,
.cart-container .titles {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    column-gap: 0.5rem;
}

.cart-item {
    border-top: 1px solid rgb(187, 187, 187);
    padding: 1rem;
}

.cart-item .cart-product img {
    width: 25px;
    height: 25px;
}

.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(187, 187, 187);
    flex-wrap: wrap;
    padding-top: 2rem;
}

.cart-summary .clear-cart {
    width: 130px;
    max-width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: 1.15px;
    border: 0.5px solid rgb(177, 177, 177);
    color: gray;
    background: none;
    outline: none;
    cursor: pointer;

}

.cart-placeorder {
    width: 270px;
    max-width: 100%;
}

.cart-placeorder .totalitems {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.cart-placeorder .totalitems .items {
    font-weight: 700;
}

.cart-placeorder .subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.cart-placeorder .subtotal .amount {
    font-weight: 700;
}

.cart-placeorder button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1.15px;
    border: 0.5px solid rgb(177, 177, 177);
    color: white;
    background: #4b70e2;
    outline: none;
    cursor: pointer;
    margin: 25px 0;
}

.continue-shopping {
    margin-top: 1rem;
    text-align: center;
}

.continue-shopping span,
.start-shopping span {
    color: gray;
    margin-left: 0.5rem;
}

.cart-empty {
    font-size: 20px;
    color: rgb(84, 84, 84);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-empty p {
    font-size: 20px;
}

.cart-product-action {
    cursor: pointer;
}

.delivery-process {
    color: red;
    font-size: 12px;
    font-weight: bold;
}