.page-footer {
    background-color: #f3f0f0;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

p {
    font-size: 16px;
    text-align: left;
    color: black;
}

h5 {
    text-align: left;
    text-transform: uppercase;
}

.navlinkStyle {
    color: black;
}

.footerLinks li {
    text-align: left;
}

.links {
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
}

hr {
    width: 65%;
    border-top: 2px solid black;
}

.SocialLinks {
    float: left;
    margin-right: 12px !important;
    margin-bottom: 15px;
}

.footerEnd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    padding-left: 5;
}