.productInfo-container{
  margin-top: 100px;
}
.pro-img{
    display: flex;
    justify-content: left;
  }
  .card-title{
    text-align: left;
  }
  .card-price{
    font-size: large;
    font-weight: 500;
  }
  .card-text{
    text-align:left;
  }
.btnStyle {
    width: 30%;
    font-size: 'large';
    padding: 5px;
}
.free-shipping {
  display: block;
  border: 1px solid #ffda85;
  padding: 2px 8px;
  margin-bottom: 10px;
  max-width: 240px;
  background: #fff3d6;
  color: #dd2400;
}
.item-counter-container{
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  border: 1px solid rgba(0,0,0,.25);
};

.item-counter-child2{
  flex: 2;
  padding: 5px;
}

.item-counter-child1,.item-counter-child3{
  width: 30px;
  text-align: center;
  background: rgba(0,0,0,.25);
  padding: 5px;
  cursor: pointer;

}
.item-deal-group{
  display: flex;
  list-style: none;
  width: 68%;
  flex-wrap: wrap;
  align-content: center;
  margin:30px 0;
  padding: 0;
  gap: 20px;
  }

.item-deal-button{
  font-weight: 600;
  display: block;
  width: 210px;
  text-align: center;
  padding: 15px 0;
  background: none;
  border-radius: 5px;
  font-weight: 400;
  border: 0.5px solid rgb(177, 177, 177);
  color: gray;
  background: none;
  outline: none;
}
.service {
  margin-top: 10px;
}
.provider-service{
  color: #555 !important;
  text-decoration: none;
}
.provider-service:hover{
  color: #555;
  font-weight: bold;
}

.backward-link-text{
  color: gray;
  margin-left: 0.5rem;
}

.product-quantity{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 245px;
  max-width: 100%;
  border: 0.5px solid rgb(177,177,177);
  border-radius: 5px;
}
.product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 5rem;
  cursor: pointer;
  font-size: large;
}
.product-quantity .count{
  padding: 0.7rem 0;
  font-size: large;
}

.BtnWrapper {
  display: flex;
  margin-top: 15px;
}

.addContainer {
  margin-left: 12px;
}

.buyBtn {
  background-color: #502d2e !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.addBtn {
  background-color: #502d2e !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}