.card-container{
    padding: 0 15px;
    width: 90%;
    margin: auto;
}
.cardwrapper{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 30px;
}