.card-container{
    padding: 0 15px;
    margin: auto;
}
.cardwrapper{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 30px;
}

.container {
    margin-top: 3em;
    color: #777;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1080px;
    margin-bottom: 1.5em;
}

.section-title {
    color: #555;
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 1.6em;
    line-height: 1.3;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.line{
    color: #555;
    font-size: 1.6em;
    line-height: 1.3;
    font-family: "Lato",sans-serif;
    font-weight: bolder;
    display: block;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
 }

 .section-title-main {

    color: #555;
    line-height: 1.3;
    font-family: "Lato",sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    text-transform: uppercase;
    margin: 0 15px;
    text-align: center;
    font-size: 97%;
 }