.sidebar {
    background-color: white;
    flex: 1;
    height: 100vh;
    border-right: 0.5px solid whitesmoke;
    
    .topDashboard{
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 0.5px solid whitesmoke;
        
        .logo {

            img  {
                width: 150px;
                height: 100px;
            }
            
        }
    }

    .centerDashboard {
        padding-left: 15px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            .title {
                font-size: 10px;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 5px;
                color: gray;
            }

            li {
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;
                
                &:hover {
                    background-color: whitesmoke;
                }

                .icon {
                    font-size: 20px;
                    color: rgb(117, 7, 219);
                }

                span {
                    font-size: 14px;
                    font-weight: 500;
                    margin-left: 10px;
                }
            }
        }
    }
}