.gridStyle{
    max-width: 75%;
    margin: auto !important;
    padding: 20px;
    align-items: center;
}
.stylePar {
    font-size: 18px;
    text-align: center;
    justify-content: center;
}

.divider-about {
    align-items: center;
}
