.home {
    display: flex;

    .homeContainer {
        flex: 6;

        .widgets,
        .charts {
            display: flex;
            gap: 20px;
            padding: 20px;
        }

        .charts {
            padding: 5px 20px;
        }

        .listContainer {
            -webkit-box-shadow: 5px 5px 10px 0px gray;
            box-shadow: 5px 5px 10px 0px rgb(230, 226, 226);
            margin: 20px;
            padding: 20px;

            .listTitle {
                font-size: 16px;
                font-weight: bold;
                color: gray;
                margin-bottom: 20px;
            }
        }
    }
}